@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .squareAspectRatio {
    aspect-ratio: 1/1;
  }
}

@layer components {
  * {
    -ms-overflow-style: none; /*for Internet Explorer, Edge*/
    scrollbar-width: none; /*for Firefox*/
    -webkit-overflow-scrolling: touch;
  }

  * ::-webkit-scrollbar {
    display: none;
  }

  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid theme('colors.primary.900');
    border-right-color: theme('colors.primary.200');
    animation: rotate 1s infinite linear;
  }

  .backdrop-blur-gradient {
    animation: blurGradient 600ms ease-in-out forwards;
  }

  .rotate-i {
    transform: rotate(calc(360deg / 7 * var(--i)));
  }
  .rotate-i-image {
    transform: rotate(calc(-360deg / 7 * var(--i)));
  }

  .teamsSpinnerRight {
    animation: teamsSpinnerRight 5s linear infinite;
  }
  .teamsSpinnerLeft {
    animation: teamsSpinnerLeft 5s linear infinite;
  }

  /* animation classes for JobPageClientWrapper */
  .job-content-enter {
    opacity: 0;
    height: 0;
  }
  .job-content-enter-active {
    opacity: 1;
    height: auto;
    transition: opacity 300ms ease-in, height 300ms ease-in;
  }
  .job-content-exit {
    opacity: 1;
    height: auto;
  }
  .job-content-exit-active {
    opacity: 0;
    height: 0;
    transition: opacity 300ms ease-out, height 300ms ease-out;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }

  @keyframes blurGradient {
    0% {
      backdrop-filter: blur(2px); /* Initial light blur */
    }
    80% {
      backdrop-filter: blur(
        2px
      ); /* Maintain 2px blur for 8 seconds (80% of total 10 seconds) */
    }
    100% {
      backdrop-filter: blur(
        12px
      ); /* Smooth transition to 12px blur in the last 2 seconds */
    }
  }

  @keyframes teamsSpinnerRight {
    0% {
      rotate: 0deg;
    }
    100% {
      rotate: 360deg;
    }
  }
  @keyframes teamsSpinnerLeft {
    0% {
      rotate: 360deg;
    }
    100% {
      rotate: 0deg;
    }
  }
}
