@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .rotate-i {
    transform: rotate(calc(360deg / 7 * var(--i)));
  }

  .squareAspectRatio {
    aspect-ratio: 1/1;
  }
}

@layer components {
  * {
    -ms-overflow-style: none; /*for Internet Explorer, Edge*/
    scrollbar-width: none; /*for Firefox*/
    -webkit-overflow-scrolling: touch;
  }

  * ::-webkit-scrollbar {
    display: none;
  }

  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid theme('colors.primary.900');
    border-right-color: theme('colors.primary.200');
    animation: rotate 1s infinite linear;
  }

  .backdrop-blur-gradient {
    animation: blurGradient 600ms ease-in-out forwards;
  }

  /* .no-drag {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  } */

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }

  @keyframes blurGradient {
    0% {
      backdrop-filter: blur(2px); /* Initial light blur */
    }
    80% {
      backdrop-filter: blur(
        2px
      ); /* Maintain 2px blur for 8 seconds (80% of total 10 seconds) */
    }
    100% {
      backdrop-filter: blur(
        12px
      ); /* Smooth transition to 12px blur in the last 2 seconds */
    }
  }
}
